html,
body {
  /* Functionality */
  scroll-behavior: smooth;
  overflow-x: hidden; /* To stop X overflow from creating a horizontal scroll bar */
  overflow-y: hidden; /* To stop Y overflow from creating a vertical scroll bar */

  /* Dynamic Styling */
  --text-color: white;
  color: var(--text-color);

  --bg-color: transparent;
  --element-bg-color: black;

  --drop-shadow-color: black;
  --drop-shadow-displacement: 2px 2px;

  --grid-gappage: 5px;
  --grid-outer-gap: 10px;

  --rgba-pink-translucent: rgba(150, 0, 150, 0.5);

  /* Formatting */
  margin: 0;
  font-family: sans-serif;
}

/* COMMON CLASSES */
/* Drop Shadow for readability */
.drop-shadow-2px {
  filter: drop-shadow(var(--drop-shadow-color) var(--drop-shadow-displacement));
}

/* Disable pointer events on the element*/
.no-pointer-events {
  pointer-events: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Debug area to show positioning of elements - not used for prod */
.debug-bg-yellow {
  background-color: yellow;
}
.debug-bg-red {
  background-color: darkred;
}
.debug-bg-green {
  background-color: lightgreen;
}
.debug-bg-blue {
  background-color: lightblue;
}
.debug-bg-teal {
  background-color: teal;
}

/* HEADER */

header {
  width: 100%;
  height: 5vh;

  border-bottom: 5px solid black;
  box-sizing: border-box;
  background-color: var(--rgba-pink-translucent);
}

header h1 {
  margin: 0;
  font-weight: 700;
  height: min-content;
}

#reset-data-btn {
  width: 100px;
  height: 25px;

  margin-right: 5px;
  border-radius: 0;
  background-color: var(--rgba-pink-translucent);

  text-wrap: nowrap;
}

header button div {
  color: var(--text-color);
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding-top: 2.5px;

  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 35px;
  padding-left: var(--grid-gappage);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a {
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN */
main section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main section div {
  width: min-content;
  height: min-content;
}

main section div h2 {
  padding: 0;
  margin: 0;
}
/* Background */
.bg {
  z-index: -1;
  position: absolute;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* Grid */
.grid-wrapper {
  display: grid;
  gap: var(--grid-gappage);
  grid-template-columns: 35% 50% 15%;
  grid-template-rows: minmax(100px, auto);
  box-sizing: border-box;

  padding: var(--grid-outer-gap);
  padding-right: 20px;
  height: 95vh;
}

/* Clicker Panel */
.griditem-clicker {
  grid-column: 1;
  grid-row: 1 / 4;
  border: black solid 5px;
  background-color: var(--rgba-pink-translucent);
}

/* Main Clickable Image */
#main-clickable {
  position: absolute;
  width: 200px;
  top: 35%;

  cursor: pointer;
  image-rendering: pixelated;
}

/* Menus */
.grid-menus {
  grid-column: 2;
  grid-row: 1;
  border: black solid 5px;
  background-color: var(--rgba-pink-translucent);
}

/* Sandbox */
.griditem-sandbox {
  grid-column: 2;
  grid-row: 2 / 4;
  border: black solid 5px;
  background-color: var(--rgba-pink-translucent);
}

/* Upgrades */
.griditem-upgrades {
  grid-column: 3;
  grid-row: 1;
  border: black solid 5px;
  background-color: var(--rgba-pink-translucent);
}

/* Products */
.griditem-products {
  grid-column: 3;
  grid-row: 2 / 4;
  border: black solid 5px;
  background-color: var(--rgba-pink-translucent);
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;

  background-color: transparent;
}

footer div {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;

  gap: 0.15rem;
  font-size: 32px;
  width: max-content;
  height: min-content;
}
