html,
body {
  /* Functionality */
  scroll-behavior: smooth;
  overflow-x: hidden; /* To stop X overflow from creating a horizontal scroll bar */
  overflow-y: hidden; /* To stop Y overflow from creating a vertical scroll bar */

  /* Dynamic Styling */
  --text-color: white;
  color: var(--text-color);

  --bg-color: transparent;
  --element-bg-color: black;

  --drop-shadow-color: black;
  --drop-shadow-displacement: 2px 2px;

  --grid-gappage: 5px;

  /* Formatting */
  margin: 0;
  font-family: sans-serif;
}

/* COMMON CLASSES */
/* Drop Shadow for readability */
.drop-shadow-2px {
  filter: drop-shadow(var(--drop-shadow-color) var(--drop-shadow-displacement));
}

/* Disable pointer events on the element*/
.no-pointer-events {
  pointer-events: none;
}

/* Debug area to show positioning of elements - not used for prod */
.debug-bg-yellow {
  background-color: yellow;
}
.debug-bg-red {
  background-color: darkred;
}
.debug-bg-green {
  background-color: lightgreen;
}
.debug-bg-blue {
  background-color: lightblue;
}
.debug-bg-teal {
  background-color: teal;
}

/* HEADER */
header {
  width: 100%;
  height: max-content;

  border: 5px solid black;
  box-sizing: border-box;
  background-color: grey;
}

header button {
  border-radius: 0;
  background-color: var(--element-bg-color);
}

header button div {
  color: var(--text-color);
}

/* Nav */
nav {
  height: 25px;
  margin-top: -16px;
  font-weight: bold;
}

nav ul {
  width: 100%;
  height: inherit;
  margin-left: -35px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a {
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN */
/* Background */
.bg {
  z-index: -1;
  position: absolute;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* Grid */
.grid-wrapper {
  display: grid;
  gap: var(--grid-gappage);
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: minmax(100px, auto);

  padding-top: var(--grid-gappage);
  padding-right: 10px;
  z-index: 1;

  height: 100vh;
}

.griditem-clicker {
  grid-column: 1;
  grid-row: 1 / 3;
  border: black solid 5px;
}

.grid-menus {
  grid-column: 2;
  grid-row: 1;
  border: black solid 5px;
}

.griditem-sandbox {
  grid-column: 2;
  grid-row: 2 / 3;
  border: black solid 5px;
}

.griditem-upgrades {
  grid-column: 3;
  grid-row: 1;
  border: black solid 5px;
}

.griditem-products {
  grid-column: 3;
  grid-row: 2 / 3;
  border: black solid 5px;
}
